body {
  /*
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  */
  font-family: 'Poppins', sans-serif;
  background: lightblue;
}

/* Misc. */
.center{
    text-align: center;
}
div#divider_small {
    height: 20px;
}
div#divider_middle {
    height: 50px;
}

/* Header */
audio#music {
    position:fixed; 
    left: 5px;
}

/* Top */
font#title{
    display: block;
    text-align: center;
}
img#icon_fish {
    display: block;    
    margin-left:auto; 
    margin-right:auto;
    width: calc(100vw/25); 
}

.embedded_map {
    display: block;
    margin-left:auto; 
    margin-right:auto;
    width: calc(100vw/1.25);
    height: calc(100vh/1.75);
}

/* Map List */
#map_link_table {
    display:table;
    margin-left:auto; 
    margin-right:auto;
}
.map_link_tr {
    display: table-row;
    height: 30px;  
}
.map_link_td_maplink {
    display: table-cell;
    width: 30px;
    border: 12px solid lightblue;
    border-left: 100px solid lightblue;
    size: 150%;
}

.map_link_td {
    display: table-cell;
    width: 50px;
    border: 12px solid lightblue; 
    size: 150%;
}

.map_link {
    font-size: 175%;
    color: gray;    
}

.duration {
    font-size: 150%;
    color: gray;
}


/* Bottom */
a#back_link{
    text-align: center;
    color: #1a75ff;
    font-size: 150%;
}

img#qr_code {
    display: block;
    margin-left:auto; 
    margin-right:auto;
    width: calc(100vw/12); 
}

img#icon_gun {
    display: block;
    margin-left:auto; 
    margin-right:auto;
    width: calc(100vw/20);
}