body {
  /*
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  */
  font-family: 'Poppins', sans-serif;
  background: lightblue;
}

/* Misc. */
.center{
    text-align: center;
}
div#divider_small {
    height: 20px;
}
div#divider_middle {
    height: 50px;
}

/* Header */
audio#music {
    position:fixed; 
    right: 0px;
}

/* Top */
font#title{
    display: block;
    text-align: center;
}
img#icon_fish {
    display: block;    
    margin-left:auto; 
    margin-right:auto;
    width: calc(100vw/25); 
}

/* Month List */
#month_link_table {
    display:table;
    margin-left:auto; 
    margin-right:auto;
}
.month_link_tr {
    display: table-row;
    height: 30px;  
}
.month_link_td {
    display: table-cell;
    width: 50px;
    border: 12px solid lightblue; 
    size: 150%;
}

.month_link {
    font-size: 175%;
    color: gray;    
}

/* Calendar style */
div#my_calendar {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  /*height: 100vh;*/
}
.calendar {
  position: relative;
  width: 900px;
  height: 750px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
}
.calendar__picture {
  position: relative;
  height: 200px;
  padding: 20px;
  color: #fff;
  background: #262626 url("../img/Joey.JPG") no-repeat center / cover;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.calendar__picture h2 {
  margin: 0;
  font-size: 50px;
}
.calendar__picture h3 {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
}
.calendar__date {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  /*grid-gap: 50px;*/
  grid-row-gap: 25px;
  grid-column-gap: 100px;
  box-sizing: border-box;
}
.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
  font-weight: 600;
  font-size: 35px;
  color: #262626;
}
.calendar__day:nth-child(7) {
  color: #ff685d;
}
.calendar__day:nth-child(7n+1) {
  color: #ff685d;
}
.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  font-size: 35px;
  color: #262626;
}
.calendar__number:nth-child(7n) {
  color: #ff685d;
  font-weight: 700;
}
.calendar__number:nth-child(7n+1) {
  color: #ff685d;
  font-weight: 700;
}
.calendar__number--current, .calendar__number:hover {
  background-color: #00e600;
  color: #fff !important;
  font-weight: 700;
  cursor: pointer;
}
.calendar__number--event {
  border: 3px solid;
  border-radius: 70%;
  border-color: #3385ff;
}
.calendar__number--event_shooting {
  border: 3px solid;
  border-radius: 70%;
  /* Use #00e600 as circle color in the future if has different event trigger setting. */
  border-color: #3385ff;
}
.calendar__number--event_fish {
  border: 4px solid;
  border-radius: 50%;
  border-color: #3385ff;
}

/* Date picture style */
img#date_picture {
    display: block;
    margin-left:auto; 
    margin-right:auto;
    /* vw = viewport = screen width */
    width: calc((100vw - 25px)/2); 
}

/* Bottom */
img#icon_gun {
    display: block;
    margin-left:auto; 
    margin-right:auto;
    width: calc(100vw/20);
}

font#copyright {
    text-align: center;
    color: gray;
    font-size: 150%;  
}

img#qr_code {
    display: block;
    margin-left:auto; 
    margin-right:auto;
    width: calc(100vw/12); 
}
